<section>
  <article class="category">
    {{#each parsedData as |data|}}
      <h3>{{data.Category}}</h3>
      <div class="input">
        <label for="{{data.Category}}">{{data.Category}}</label>
        <select id="{{data.Category}}" name="{{data.Category}}">
          {{#each data.Answers as |answer|}}
            <option value="{{answer.Weight}}" name="{{asnwer.Name}}">{{answer.Name}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </article>
</section>

{{yield}}
