<section id="risk-cards">
  <article class="category">
    <h3>Sociaal</h3>
    {{#each doubleParsedData.algemeen as |data|}}
      <div class="input">
        <label for="{{data.Category}}">{{data.Category}}</label>
        <select id="{{data.Category}}" name="{{data.Category}}">
          {{#each data.Answers as |answer|}}
            <option value="{{answer.Weight}}" name="{{asnwer.Name}}">{{answer.Name}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </article>

  <article class="category">
    <h3>Huishouding</h3>
    {{#each doubleParsedData.huishouding as |data|}}
      <div class="input">
        <label for="{{data.Category}}">{{data.Category}}</label>
        <select id="{{data.Category}}" name="{{data.Category}}">
          {{#each data.Answers as |answer|}}
            <option value="{{answer.Weight}}" name="{{asnwer.Name}}">{{answer.Name}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </article>

  <article class="category">
    <h3>Onderwijs</h3>
    {{#each doubleParsedData.onderwijs as |data|}}
      <div class="input">
        <label for="{{data.Category}}">{{data.Category}}</label>
        <select id="{{data.Category}}" name="{{data.Category}}">
          {{#each data.Answers as |answer|}}
            <option value="{{answer.Weight}}" name="{{asnwer.Name}}">{{answer.Name}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </article>

  <article class="category">
    <h3>Sociaal</h3>
    {{#each doubleParsedData.sociaal as |data|}}
      <div class="input">
        <label for="{{data.Category}}">{{data.Category}}</label>
        <select id="{{data.Category}}" name="{{data.Category}}">
          {{#each data.Answers as |answer|}}
            <option value="{{answer.Weight}}" name="{{asnwer.Name}}">{{answer.Name}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </article>

  <article class="category">
    <h3>Strafrecht</h3>
    {{#each doubleParsedData.strafrecht as |data|}}
      <div class="input">
        <label for="{{data.Category}}">{{data.Category}}</label>
        <select id="{{data.Category}}" name="{{data.Category}}">
          {{#each data.Answers as |answer|}}
            <option value="{{answer.Weight}}" name="{{asnwer.Name}}">{{answer.Name}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </article>

</section>

{{yield}}
